{% extends 'base.html.twig' %}


{% block body %}
<h1>Résultats de la rechercher : </h1>

    {% for article in articles %}
        <div>
            <h3><td>{{ article.title }}</td></h3>
            <div>
                <a href="{{ path('app_article_show', {'id': article.id}) }}">Consulter l'article</a>
            </div>
        </div>
    {% else %}
        <div class ="pt-5">
            <h5>Aucun article trouvé pour ces critères de recherches.</h5>
        </div>
    {% endfor %}
{% endblock %}
