{% extends 'base.html.twig' %}

{% block title %}HistoireEnLigne - Commentaire{% endblock %}

{% block body %}
    <h1>Crée un nouveau commentaire</h1>

    {{ include('comment/_form.html.twig') }}
{% endblock %}
