{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1><Categories></Categories></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Consulter les articles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Auncune catégories disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
