{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <a href="{{ path('app_category_index') }}">Revenir à la liste des catégories</a>

    <div class="mt-4">
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_article_show', {'id': article.id}) }}">Voir en détail</a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Auncun résultat disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
