{% extends 'base.html.twig' %}

{% block title %}HistoireEnLigne - Admin Categorie{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-primary" role="button">Voir les informations</a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-primary" role="button" >Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Auncun résultat disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}" class="btn btn-primary" role="button">Crée une nouvelle catégorie</a>
{% endblock %}
