{% extends 'base.html.twig' %}

{% block title %}HistoireEnLigne - Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <div class="mb-3">
        Vous êtes connecté en tant que {{ app.user.userIdentifier }}
    </div>

    <div>
        {{ form(form) }}
        {% if app.user %}
        {% endif %}
    </div>

{% endblock %}
